@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lexend+Peta:wght@100..900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: white;
}


header {
    display: flex; 
    height: 100px;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px;
    color: rgb(56, 56, 56);

}

footer {
    display: flex;
    justify-content: flex-end;
    padding: 100px;
    gap: 15px;
    color: rgb(53, 53, 53);
}


#container {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    background-color: transparent;
}

#logomauricios {
    width: 50px;
    height: auto;
    background-color: transparent;
}

#foto1, #foto2 {
    width: 700px;
    height: auto;
}


#menuicon {
    width: 50px;
    height: auto;
    margin-left: 1350px; 
    border-radius: 10px;
}

#label {
    font-size: 20px;
    margin: 0;
    text-align: center;
    color: white;
    background-color: transparent;
}

#appointment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;

}

#aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    text-align: justify;
    max-width: 600px;
    gap: 20px;
}

#location {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

#contact {
    display: flex;
    justify-content: space-between;

    margin-right: auto;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

#instagramlogo {
    width: 50px;
}

button {
    background: rgb(49, 49, 49);
    border-radius: 7px;
    border-color: transparent;
    border-width: 1px;
    padding: 2px;
    width: 300px;
    font-size: 16px;
    
    
}
